Sec12_SessionsAndInstanceManagement_Test/CoursesOnlineClient/App_WebReferences/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoursesOnline" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICoursesOnline_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CourseOnlineServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoursesOnline_ListCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCourses" />
  </wsdl:message>
  <wsdl:message name="ICoursesOnline_ListCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ICoursesOnline_EmptyCoursesTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:EmptyCoursesTaken" />
  </wsdl:message>
  <wsdl:message name="ICoursesOnline_EmptyCoursesTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmptyCoursesTakenResponse" />
  </wsdl:message>
  <wsdl:message name="ICoursesOnline_AddToCoursesTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToCoursesTaken" />
  </wsdl:message>
  <wsdl:message name="ICoursesOnline_AddToCoursesTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToCoursesTakenResponse" />
  </wsdl:message>
  <wsdl:message name="ICoursesOnline_ListCoursesTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCoursesTaken" />
  </wsdl:message>
  <wsdl:message name="ICoursesOnline_ListCoursesTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCoursesTakenResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICoursesOnline">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ListCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoursesOnline/ListCourses" message="tns:ICoursesOnline_ListCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoursesOnline/ListCoursesResponse" message="tns:ICoursesOnline_ListCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EmptyCoursesTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoursesOnline/EmptyCoursesTaken" message="tns:ICoursesOnline_EmptyCoursesTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoursesOnline/EmptyCoursesTakenResponse" message="tns:ICoursesOnline_EmptyCoursesTaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddToCoursesTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoursesOnline/AddToCoursesTaken" message="tns:ICoursesOnline_AddToCoursesTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoursesOnline/AddToCoursesTakenResponse" message="tns:ICoursesOnline_AddToCoursesTaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="ListCoursesTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoursesOnline/ListCoursesTaken" message="tns:ICoursesOnline_ListCoursesTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoursesOnline/ListCoursesTakenResponse" message="tns:ICoursesOnline_ListCoursesTaken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICoursesOnline" type="tns:ICoursesOnline">
    <wsp:PolicyReference URI="#NetTcpBinding_ICoursesOnline_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ListCourses">
      <soap12:operation soapAction="http://tempuri.org/ICoursesOnline/ListCourses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmptyCoursesTaken">
      <soap12:operation soapAction="http://tempuri.org/ICoursesOnline/EmptyCoursesTaken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCoursesTaken">
      <soap12:operation soapAction="http://tempuri.org/ICoursesOnline/AddToCoursesTaken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCoursesTaken">
      <soap12:operation soapAction="http://tempuri.org/ICoursesOnline/ListCoursesTaken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoursesOnline">
    <wsdl:port name="NetTcpBinding_ICoursesOnline" binding="tns:NetTcpBinding_ICoursesOnline">
      <soap12:address location="net.tcp://localhost:50001/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:50001/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SEC-PC\SEC</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>