Sec12_SessionsAndInstanceManagement_Test/CoursesOnlineClient/App_WebReferences/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CourseOnlineServiceLibrary" />
  <xs:element name="ListCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CourseOnlineServiceLibrary" minOccurs="0" name="ListCoursesResult" nillable="true" type="q1:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmptyCoursesTaken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmptyCoursesTakenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCoursesTaken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CourseOnlineServiceLibrary" minOccurs="0" name="courseTaken" nillable="true" type="q2:CourseTaken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCoursesTakenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCoursesTaken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCoursesTakenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CourseOnlineServiceLibrary" minOccurs="0" name="ListCoursesTakenResult" nillable="true" type="q3:ArrayOfCourseTaken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>