Sec11_DataAndFaultContracts/MyClient/App_WebReferences/ServiceReference1/MulService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MulService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMulService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50011/MyHttpEndPoint?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50011/MyHttpEndPoint?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50011/MyHttpEndPoint?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MulServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMulService_MulInt_InputMessage">
    <wsdl:part name="parameters" element="tns:MulInt" />
  </wsdl:message>
  <wsdl:message name="IMulService_MulInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:MulIntResponse" />
  </wsdl:message>
  <wsdl:message name="IMulService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IMulService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMulService_DivInt_InputMessage">
    <wsdl:part name="parameters" element="tns:DivInt" />
  </wsdl:message>
  <wsdl:message name="IMulService_DivInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivIntResponse" />
  </wsdl:message>
  <wsdl:message name="IMulService_DivInt2_InputMessage">
    <wsdl:part name="parameters" element="tns:DivInt2" />
  </wsdl:message>
  <wsdl:message name="IMulService_DivInt2_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivInt2Response" />
  </wsdl:message>
  <wsdl:message name="IMulService_DivInt2_DivFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MulServiceLibrary" name="detail" element="q1:DivFault" />
  </wsdl:message>
  <wsdl:portType name="IMulService">
    <wsdl:operation name="MulInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMulService/MulInt" message="tns:IMulService_MulInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMulService/MulIntResponse" message="tns:IMulService_MulInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IMulService/Save" message="tns:IMulService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMulService/SaveResponse" message="tns:IMulService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMulService/DivInt" message="tns:IMulService_DivInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMulService/DivIntResponse" message="tns:IMulService_DivInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivInt2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMulService/DivInt2" message="tns:IMulService_DivInt2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMulService/DivInt2Response" message="tns:IMulService_DivInt2_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMulService/DivInt2DivFaultFault" name="DivFaultFault" message="tns:IMulService_DivInt2_DivFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMulService" type="tns:IMulService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMulService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="MulInt">
      <soap12:operation soapAction="http://tempuri.org/IMulService/MulInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IMulService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivInt">
      <soap12:operation soapAction="http://tempuri.org/IMulService/DivInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivInt2">
      <soap12:operation soapAction="http://tempuri.org/IMulService/DivInt2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DivFaultFault">
        <soap12:fault use="literal" name="DivFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMulService" type="tns:IMulService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MulInt">
      <soap:operation soapAction="http://tempuri.org/IMulService/MulInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IMulService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivInt">
      <soap:operation soapAction="http://tempuri.org/IMulService/DivInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivInt2">
      <soap:operation soapAction="http://tempuri.org/IMulService/DivInt2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DivFaultFault">
        <soap:fault use="literal" name="DivFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MulService">
    <wsdl:port name="NetTcpBinding_IMulService" binding="tns:NetTcpBinding_IMulService">
      <soap12:address location="net.tcp://localhost:50010/MyTcpEndPoint" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:50010/MyTcpEndPoint</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SEC-PC\SEC</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMulService" binding="tns:BasicHttpBinding_IMulService">
      <soap:address location="http://localhost:50011/MyHttpEndPoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>