TestService/MyClient/App_WebReferences/MyServiceReference/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13294/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13294/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13294/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestService" />
      <xsd:import schemaLocation="http://localhost:13294/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetStudentResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResult" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetStudentResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResultResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetMax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMax" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetMax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetSorted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSorted" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetSorted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetTopper_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopper" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetTopper_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopperResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountries" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetData" message="tns:IMyService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetDataResponse" message="tns:IMyService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetMessage" message="tns:IMyService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetMessageResponse" message="tns:IMyService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetResult" message="tns:IMyService_GetResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetResultResponse" message="tns:IMyService_GetResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetStudentResult" message="tns:IMyService_GetStudentResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetStudentResultResponse" message="tns:IMyService_GetStudentResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMax">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetMax" message="tns:IMyService_GetMax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetMaxResponse" message="tns:IMyService_GetMax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetSorted" message="tns:IMyService_GetSorted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetSortedResponse" message="tns:IMyService_GetSorted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetTopper" message="tns:IMyService_GetTopper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetTopperResponse" message="tns:IMyService_GetTopper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetAllCountries" message="tns:IMyService_GetAllCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetAllCountriesResponse" message="tns:IMyService_GetAllCountries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentResult">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetStudentResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMax">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetMax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetSorted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetTopper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCountries">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetAllCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:13294/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>